setup_env.sh
isaac-sim_5.0.0.sif
.isaac-cache/*
pyproject.toml
settings.json
.pyreflyignore
isaac-sim.zip
isaacsim/*
.pyrefly.toml
.vscode/
cosmos-predict2.5/*
data
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/
*.err
*.out
*.log
slurm-*.out
slurm-*.err
nohup.out
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
wandb/
core.store*
test.py 
*.def
*.sif
*.sh
.vscode_stubs/*
envInstall.md
.container_pkgs/*
.isaac_5_0_*