--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0
torchvision==0.22.0
torchaudio
torchmetrics
torchdiffeq
einops
eindex
decord
ray[air]
wandb
pyrefly
beartype
jaxtyping
typeguard
diffusers
transformers
datasets
webdataset
huggingface_hub
tqdm
torch-ema
accelerate
sentencepiece


